.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #494E6E;
    width: 150px;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;
    overflow: hidden;
    &__logo {

        height: 100px;
        width: 100%;
        background-color: #7C5DFA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__footer  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button {
            padding: 24px;
            background-color: transparent;
            border: none;
            outline: none;
            img {
                cursor: pointer;
            }
            &:last-of-type {
                border-top: 1px solid #ccc;
            }
            .avatar {
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
        }
      
    }

}