@import '../../styles/variables';

.container {
  display: flex;
  min-height: 100vh;
  &--dark {
    background-color: #141625;
  }
  .main {
    width: 100%;
    &--light {
      background-color: $color_11;
    }
    &--dark {
      background-color: #141625;
      color: #ffffff;
    }
  }
}
