$color_1: #7C5DFA;
$color_2: #9277FF;
$color_3: #1E2139;
$color_4: #252945;
$color_5: #DFE3FA;
$color_6: #888EB0;
$color_7: #7E88C3;
$color_8: #0C0E16;
$color_9: #EC5757;
$color_10: #9277FF;
$color_11: #F8F8FB;
$color_12: #141625;